<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FM2024 4231 阵容厚度</title>
<style>
{{CSS_STYLE}}
</style>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="grid">
                <div class='col'>
                    {{PITCH_EA_BEST}}
                    <div class='col-header'>EA最佳11人<span class='col-avg'>均EA {{AVG_EA_BEST}}</span></div>
                </div>
                <div class='col'>
                    {{PITCH_EA_SECOND}}
                    <div class='col-header'>EA次佳11人<span class='col-avg'>均EA {{AVG_EA_SECOND}}</span></div>
                </div>
                <div class='col'>
                    {{PITCH_EA_THIRD}}
                    <div class='col-header'>EA第三11人<span class='col-avg'>均EA {{AVG_EA_THIRD}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
